html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-image:url('../assets/images/full-page-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2% 20%;
  margin: 0px;
}

h3 {
  background-color: rgb(109, 104, 105);
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2%;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 6px;
}
#main-game-area {
  /* border: 10px solid rgb(0, 0, 0);
  border-radius: 6px;
  background-color:rgba(84, 66, 64, 0.924) ; */
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin-top: 5%
}

.card {
  background-color: black;
  border: 10px solid rgb(121, 91, 21);
  border-radius: 6px;
  min-width: fit-content;
  min-height: fit-content;
}

#left-card {
  margin-right: 15%;
  /* animation: backInLeft;
  animation-duration: 2s; */
}

#right-card {
  margin-left: 15%;
  /* animation: backInRight;
  animation-duration: 2s; */
}

.card-inner-area {
  border: 2px solid black;
  margin: 1px;
}
.card-image{
  width: 300px;
  height: 370px;
}

img{
left: 50%;
position: relative;
top: 50%;
transform: translate(-50%, -50%);
max-height: 100%;
max-width: 100%;
}

.card-name, .card-stats, .card-about {
background-color: #61504c;
color: white;
}

.card-name{
  border-top: 2px solid rgb(154,147,150);
  border-bottom: 2px solid rgb(154,147,150);
  text-align: center;
}

.card-stats {
  text-decoration: underline;
  text-decoration-color:rgb(154,147,150);
}
.card-about {
  border-top: 2px solid rgb(154,147,150);
  text-align: center;
}


.btn-group {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 6px;
  margin: 5%;
  align-self: center;


}

