html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 24px;
}
body {
  background-image:url('../assets/images/full-page-background.jpg');
  font-family: 'Redressed', cursive;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 1% 20%;
  margin: 0px;
  max-height: 1250px;

}

.top-message {
  background-color: rgb(109, 104, 105);
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2%;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 6px;
  height: 200px;
  min-width: 1200px;
  max-width: 1600px;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-weight: bold;
}
#main-game-area {
  border: 10px solid rgb(0, 0, 0);
  border-radius: 6px;
  background-color:rgba(84, 66, 64, 0.924) ;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin-top: 2%;
  overflow: hidden;
  height: 900px;
  width: 1200px;
}

.card {
  background-color: black;
  border: 10px solid rgb(121, 91, 21);
  border-radius: 6px;
  min-width: fit-content;
  min-height: fit-content;
  margin: 15%
}

#left-card {

  /* animation: backInLeft;
  animation-duration: 2s; */
}

#right-card {

  /* animation: backInRight;
  animation-duration: 2s; */
}

.card-inner-area {
  border: 2px solid black;
  margin: 1px;
}
.card-image{
  width: 338px;
  height: 420px;
}

img{
left: 50%;
position: relative;
top: 50%;
transform: translate(-50%, -50%);
max-height: 100%;
max-width: 100%;
}

.card-name, .card-stats, .card-about {
background-color: #61504c;
color: white;
}

.card-name{
  border-top: 2px solid rgb(154,147,150);
  border-bottom: 2px solid rgb(154,147,150);
  text-align: center;
}

.card-stats {
  text-decoration: underline;
  text-decoration-color:rgb(154,147,150);
}
.card-about {
  border-top: 2px solid rgb(154,147,150);
  text-align: center;
}


.btn-group {
  position: relative;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 16px;
  margin: 2%;
  align-self: center;
  flex-wrap: wrap;
  min-height: 75px;
  max-height: fit-content;
  width: 600px;
}

